<div class="categories">
  <ul>
    <li><a href="/entries/:id#general">General</a><li>
    <li><a href="/entries/:id#music">Music</a><li>
    <li><a href="/entries/:id#video">Video</a><li>
    <li><a href="/entries/:id#info">Info</a><li>
  </ul>
</div>

<h3> Entry </h3>
<p><%= @entry.input %></p>


<h3> KeyWords </h3>
<!-- <div style="width:90%; height:2px; background:rgba(0,0,0,.05); margin: 0 auto"></div> -->

<div class="keywordbox">
<form action="/entries/#{params[:id]}" method="get">
  <label for="number">Keywords to Retrieve</label>
  <select name="number">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5"selected>5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select><br><br>
  <input type="submit" name="submit">
</form><br>

  <div class="keywords">
      <% @kw.each do |keyword| %>
       <a id="keywords" href="/ent"><%= keyword %></a>
      <% end %>
  </div>
</div>
<br>

<h3 id="general"> General </h3>
<div style="width:95%; height:3px; background:rgba(0,0,0,.2); margin: 0 auto"></div>
  <% i = 0 %>
    <% while i < 3 do %>
      <div class="search">
       <h4 class="searchtitle"><a href=<%= @google_links[i] %>><%= @google_titles[0 + i] %></a><br></h4>
        <div class="searchsnippet"><p><%= @google_snippets[i] %></p></div>
        <div class="searchimage"><img class="thumbnail"src="<%= @google_images[i]["cse_thumbnail"][0]["src"] %>"></div>
        <% i += 1 %>
      </div>
    <%end %>

<h3 id="music"> Music </h3>
<% if @soundcloud[0]["id"] == nil%>
<p> I'm sorry, but there are no tracks that match your entry </p>
<% else %>
      <div class="music">
        <iframe width="45%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @soundcloud[0]["id"]%>&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
      </div>
<%end%>

<%#<h3 id="video"> Video </h3>
<% if @youtube[0]["id"]["videoId"] == nil%>
<%#<p> I'm sorry, but there are no videos that match your entry </p>
<% else %>
<%#      <div class="video-container">
         <iframe src="http://www.youtube.com/embed/<%= @youtube[0]["id"]["videoId"]%><%#{}" frameborder="0" width="100%" h<%#height="400"></iframe>
      </div>
<%end%>


<h3 id="info"> Info </h3>
<% i = 0 %>
<% while i < 3 do %>
  <div class="search">
    <h4 class="wikititle"><%= @wiki_titles[0 + i] %></h4><br>
     <p class="wikisnippet"><%= strip_tags(@wiki_snippet[0 + i]) %></p><br>
  </div>
<% i += 1 %>
<%end %>




