<div class="categories">
  <ul>
    <li><a href="/entries/:id#general">General</a><li>
    <li><a href="/entries/:id#music">Music</a><li>
    <li><a href="/entries/:id#video">Video</a><li>
    <li><a href="/entries/:id#info">Info</a><li>
  </ul>
</div>

<h3> Entry </h3>
<p><%= @entry.input %></p>

<div class="notify">
  <p> Send yourself a notification email to follow up on this entry </p>
<%= form_tag(notify_path) do %>
<%= hidden_field_tag(:transcipt, @entry.input) %>
<%= submit_tag("Notify") %>
<% end %>
</div>


<h3> KeyWords </h3>

<div class="keywordbox">
<form action="/entries/<%= @entry.id %>/<%= params[:number] %>" method="get">
  <label for="number">#Number of Keywords</label>
  <select name="number">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5"selected>5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select><br><br>
  <input type="submit" name="submit">
</form><br>

  <div class="keywords">
      <% @array.each do |keyword| %>
       <a id="keywords" href="/entries/<%= @entry.id %>/<%= keyword %>"><%= keyword %></a>
      <% end %>
  </div>
</div>
<br>
<div style="width:95%; height:2px; background:rgba(0,0,0,.05); margin: 0 auto"></div>

<br>

<h3 id="general"> General </h3>
<div style="width:95%; height:3px; background:rgba(0,0,0,.2); margin: 0 auto"></div>
<% @google_sorted.each do |result| %>

      <div class="search">
       <h4 class="searchtitle"><a href="<%= result[:link]%>"><%= result[:title] %></a><br></h4>
        <div class="searchsnippet"><p><%= result[:snippet] %></p></div>
      <div class="searchimage"><img class="thumbnail" src="<%= result[:image] %>"></div>
      </div>
<%end %>

<h3 id="music"> Music </h3>
      <div class="music">
        <iframe width="45%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @soundcloud[0]["id"]%>&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
      </div>

<!--  <h3 id="video"> Video </h3>
      <div class="video-container">
         <iframe src="http://www.youtube.com/embed/<%#= @youtube[0]["id"]["videoId"]%>" frameborder="0" width="100%" hheight="400"></iframe>
      </div> -->


<!-- <h3> Instagram </h3>
<div class="instagram"
<iframe src="//instagram.com/p/mQF0LBowpt/embed/" width="45%" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
</div> -->

<h3 id="info"> Info </h3>
<% i = 0 %>
<% while i < 3 do %>
  <div class="wikisearch">
    <h4 class="wikititle"><%= @wiki_titles[0 + i] %></h4><br>
     <p class="wikisnippet"><%= strip_tags(@wiki_snippet[0 + i]) %></p><br>
  </div>
<% i += 1 %>
<%end %>



