
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %> </p><p><%= link_to "Logout", :controller=> "sessions", :action=> "destroy" %> </p>


<%= render "shared/entriestable"%>
