<!DOCTYPE html>
<html>
<head>
  <title>Tucan</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
</head>

<body>
<div id="header">
    <a href="/">
    <img id="tucan" src="http://imgur.com/9rLRPkD.png"></a><%= render "shared/menu" %>
</div>
<div id="headerbottom"></div>
<div style="height: 120px; width:100%;"></div>
<%= yield %>
<h3 style=" position:fixed; float:right ; margin-left: 95%; bottom: 10px; color: rgba(0,0,0,.4)"><a href="#">Top</a></h3>
</body>
</html>
